.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .shrekAboutImg {
    height: 400px;
    padding-bottom: 20px;
  }
  .videoText {
    padding-bottom: 30px;
    padding-top: 15px;
  }
  .houseText {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .text2 {
    padding-bottom: 30px;
  }

  @media (max-width: 1250px) {
    .about-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .shrekAboutImg {
      display: flex;
      width: 100%;
      max-width: 350px;
      max-height: auto;
      flex-direction: column;
      justify-content: center;
    }
    .houseImg {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 350px;
      max-height: auto;
    }
    .SwampTourVid {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 350px;
      max-height: auto;
    }
  }
}
