.content-home {
  h1 {
    color: brown;
    text-align: center;
  }

  .mainImg {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media (max-width: 1250px) {
  .content-home {
    justify-content: center;
    .mainImg {
      width: 75%;
      height: 100%;
    }
  }
}
