.content-contact {
  margin-block: 100px;
}
.contact-text {
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  color: green;
  font-style: italic;
}

@media (max-width: 1250px) {
  .content-contact {
    margin-top: 10px;
  }
  .contact-text {
    font-size: large;
    overflow: hidden;
    margin-top: 10px;
  }
}
